﻿
@{
    ViewBag.Title = "Home";
}

@{
    System.Data.DataSet dataset;
    string nome;
    string foto;
    dataset = ViewBag.Consultores;
    for(int i = 0; i < dataset.Tables[0].Rows.Count; i++)
    {
        nome = dataset.Tables[0].Rows[i][1].ToString();
        foto = dataset.Tables[0].Rows[i][2].ToString();
        <div class="col col-lg-2">
            <a href="@Url.Action("FormCliente", "Chat", new RouteValueDictionary(new { id = int.Parse(dataset.Tables[0].Rows[i][0].ToString()) }))" class="btn btn-default" role="button">
                <img src="@foto" width="200" height="200"/>
                <h5>@nome</h5>
            </a>
        </div>
    }

}

