﻿
@{
    ViewBag.Title = "Login";
}
@if (Session["admin"] != null)
{
    Response.Redirect("/Admin/Index");
}
<div>
    @using (Html.BeginForm("Logar", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <div class="form-group">
            <label class="control-label col-lg-2">Email:</label>
            <div class="col-lg-4"><input type="text" class="form-control" name="email" value="@ViewBag.User" /></div>

        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">Senha:</label>
            <div class="col-lg-4">
                <input type="password" class="form-control" name="password" />
                <strong><small style="color: darkred">@Html.Raw(ViewBag.Error)</small></strong>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-4">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </div>
    }
</div>
