﻿
@{
    ViewBag.Title = "Conversar";
}
@{
    System.Data.DataRow dr = null;
    string nome = null;
    try { dr = ViewBag.Dados; } catch (Exception ex) { Console.Write(ex); }
    try { nome = ViewBag.Nome; } catch (Exception ex) { Console.Write(ex); }
}
@try
{
    <h2>Chat com @nome</h2>
}
catch (Exception ex)
{
    <small>@ex.Message</small>
}
<script type="text/javascript">
    var tempo = new Number();
    var vetor = { 2: 120, 5: 300, 30: 1800, 60: 3600 };
    valorGanhoString = "";
    var tempoCrescente = new Number();
    tempoCrescente = 0;
    var valorGanho = 0.00;
    tempo = vetor[@int.Parse(dr[4].ToString())]; // Tempo em segundos
    function pegarMensagem() {
            $.ajax({
                    url: "@Url.Action("buscaMensagem", "Chat")",
                    dataType: "json",
                    method: "post",
                    data: { remetente: @Session["destinatario"], destinatario: @Session["remetente"] },
                success: function (e) {
                    $.each(e, function (i, mensagem) {
                        var mensagemEnviada = "<div class='message-candidate center - block'>" +
                                                    "<div class='row' >" +
                                                        "<div class='col-xs-8 col-md-6'>" +
                                                            "<img src='http://imgc.allpostersimages.com/images/P-473-488-90/68/6896/2GOJ100Z/posters/despicable-me-2-minions-movie-poster.jpg' class='message-photo'>" +
                                                            "<h4 class='message-name'>@ViewBag.Nome</h4>" +
                                                        "</div>" +
                                                        "<div class='col-xs-4 col-md-6 text-right message-date'>Date here</div>" +
                                                    "</div>" +
                                                    "<div class='row message-text'>" +
                                                        mensagem[0] +
                                                    "</div>" +
                                                "</div >";
                        $("#conteudo").append(mensagemEnviada);    
                        });

                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
    }
    function horaImprimivel(tempo) {
        var min = parseInt(tempo / 60); // Pega a parte inteira dos minutos
        var seg = tempo % 60; // Calcula os segundos restantes
        // Formata o número menor que dez, ex: 08, 07, ...
        if (min < 10) {
            min = "0" + min;
            min = min.substr(0, 2);
        }
        if (seg <= 9) {
            seg = "0" + seg;
        }
        return " " + min + ':' + seg;
    }
    function startCountdown() {
        if ((tempo - 1) >= 0) { // Se o tempo não for zerado

            // Cria a variável para formatar no estilo hora/cronômetro
            if (tempo <= 20) {
                $("#tempo").css("color", "Red");
                $("#tempo").css("font-size", "24px");
            }
            if(tempo%1 == 0) pegarMensagem();
            $("#tempo").html(horaImprimivel(tempo)); //JQuery pra setar o valor
            $("#tempoCrescente").html(horaImprimivel(tempoCrescente));
            valorGanhoString = "R$ " + parseFloat(Math.round(valorGanho * 100) / 100).toFixed(2);
            $("#valorGanho").html(valorGanhoString.replace(".", ",")); //JQuery pra setar o valor
            setTimeout('startCountdown()', 1000); // Define que a função será executada novamente em 1000ms = 1 segundo
            tempo--; // diminui o tempo
            tempoCrescente++; // diminui o tempo
            valorGanho += 0.03;
            //pegarMensagem();
        }
        else { // Quando o contador chegar a zero faz esta ação
            window.open("/", "_self");
        }
    }
    startCountdown();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#mensagem").keypress(function (e) {
            if (e.keyCode == 13) {
                enviaMensagem();
            }
        });
        $("#envioMensagem").click(function () {
            enviaMensagem();
        });
        function enviaMensagem() {
            var mensagemEu = "<div class='message-hiring-manager center-block'>"+
                        "<div class='row'>" +
                            "<div class='col-xs-8 col-md-6'>" +
                                "<img src='@( (Session["consultor"] != null ) ? @dr[8] : "http://imgc.allpostersimages.com/images/P-473-488-90/68/6896/2GOJ100Z/posters/despicable-me-2-minions-movie-poster.jpg")' class='message-photo'>"+
                                "<h4 class='message-name'>@Session["meuNome"]</h4>" +
                            "</div>" +
                            "<div class='col-xs-4 col-md-6 text-right message-date'>Date here</div>" +
                        "</div>" +
                        "<div class='row message-text'>" +
                            $("#mensagem").val() +
                        "</div>" +
                "</div>";
            var mensagemEnviar = $("#mensagem").val();
            if ($("#mensagem").val() != "") {
                $("#mensagem").val("");
                $("#conteudo").append(mensagemEu);
                $.ajax({
                    url: "@Url.Action("salvaMensagem", "Chat")",
                    dataType: "json",
                    method: "post",
                    data: { mensagem: mensagemEnviar, remetente: @Session["remetente"], destinatario: @Session["destinatario"] },
                    success: function (e) {
                        console.log(e);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        }
    });
</script>
<style>
    .message-candidate {
        background: rgba(234, 175, 175, 0.31);
        padding: 40px;
        max-width: 600px;
        margin-bottom: 10px;
    }

    .message-hiring-manager {
        background: rgba(173, 221, 232, 0.31);
        padding: 40px;
        max-width: 600px;
        margin-bottom: 10px;
    }

    .messaging {
        max-width: 600px;
        margin-top: 20px;
    }

    .message-text {
        margin-top: 10px;
    }

    .message-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
        display: inline-block;
    }

    .message-name {
        margin-left: 10px;
        display: inline-block;
    }
</style>
<center>
    <table>
        <tr>
            <td style="padding-right: 2px"><h4>Tempo Restante:</h4> </td><td><h4 id="tempo"></h4></td>
            <td style="padding-right: 2px; padding-left: 2px"><h4>Tempo Passado:</h4> </td><td><h4 id="tempoCrescente"></h4></td>
            <td style="padding-right: 2px; padding-left: 2px"><h4>Valor Ganho:</h4> </td><td><h4 id="valorGanho"></h4></td>
        </tr>
    </table>
</center>
<div class="container">
    <div id="conteudo">

    </div>
    <div class="messaging center-block">
        <div class="row">

            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" id="mensagem" class="form-control">
                    <span class="input-group-btn">
                        <button id="envioMensagem" class="btn btn-primary" type="button">Enviar</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>