﻿
@{
    ViewBag.Title = "Formulario de Atendimento";
}

<h2>FormCliente</h2>
<div class="container">
    <form class="form-horizontal" method="post" action="@Url.Action("Conversar", "Chat", new RouteValueDictionary(new { id = ViewBag.Id }))">
        <div class="form-group">
            <label class="control-label col-lg-2">Nome:</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="nome" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">Email:</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="email" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">Telefone:</label>
            <div class="col-lg-10">
                <input type="tel" class="form-control" name="telefone" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">Tempo de Atendimento</label>
            <div class="col-lg-10">
                <select name="tempo" class="form-control">
                    <option value="0">Selecione o tempo de atendimento...</option>
                    <option value="2">2 minutos</option>
                    <option value="5">5 minutos</option>
                    <option value="30">30 minutos</option>
                    <option value="60">1 hora</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button role="button" class="btn btn-success" type="submit">Iniciar Conversa</button>
            </div>
        </div>
    </form>
</div>