﻿
@{
    ViewBag.Title = Session["Titulo"];
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="nav-side-menu" style="margin-top: 3%">
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="@Url.Action("Index", "Admin")">
                    <i class="fa fa-home fa-lg"></i> Painel do Administrador
                </a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Consultas <span class="arrow"></span></a>
            </li>
            <li>
                <ul class="sub-menu collapse" id="products">
                    <li><a href="#">Agendadas</a></li>
                    <li><a href="#">Efetuadas</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Consultores", "Admin")">
                    <i class="fa fa-users fa-lg"></i> Consultores
                </a>
            </li>
            <li>
                <a href="@Url.Action("AddConsultor", "Admin")">
                    <i class="fa fa-users fa-lg"></i> Cadastrar Consultor
                </a>
            </li>
        </ul>
    </div>
</div>
<div style="margin-left: 24%; width:74%">
    @{ 
        System.Data.DataTable dt = ViewBag.Dados;
        string[] dias = null;
        string dia = null;
        string caminho = "";
        bool[] diasPreenchidos = new bool[7];
        try
        {
            if (dt.Rows[0][7].ToString() != "A definir")
            {
                dias = dt.Rows[0][7].ToString().Split(',');
                for (int i = 0; i < dias.Length; i++)
                {
                    dias[i] = dias[i].Trim();
                }
                for (int i = 0; i < dias.Length; i++)
                {
                    diasPreenchidos[int.Parse(dias[i])-1] = true;
                }
            }
            else
            {
                dia = dt.Rows[0][7].ToString();
            }

        }
        catch(Exception ex)
        {
            Console.Write(ex);
        }
        finally
        {
            if (Session["Tipo"].ToString() == "Editar")
            {
                try { caminho = Url.Action("Editando", "Consultor", new RouteValueDictionary(new { id = int.Parse(dt.Rows[0][0].ToString()) })); } catch(Exception ex) { Console.Write(ex); }
            }
            else if (Session["Tipo"].ToString() == "Adicionar")
            {
                caminho = Url.Action("SalvarConsultor", "Admin");
            }
        }

    }
    <style>
        .btn span.glyphicon {
            opacity: 0;
        }

        .btn.active span.glyphicon {
            opacity: 1;
        }
    </style>
    <form method="post" action="@caminho" class="form-horizontal" enctype="multipart/form-data" >
        <fieldset>
            <legend>@Session["Exibicao"]</legend>
            <div class="form-group">
                <label class="control-label col col-sm-2">Nome:</label>
                <div class="col col-sm-10">
                    <input type="text" name="nome" class="form-control" value="@((dt != null)?dt.Rows[0][1].ToString() : "")" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col col-sm-2">Email:</label>
                <div class="col col-sm-10">
                    <input type="text" name="email" class="form-control" value="@((dt != null)?dt.Rows[0][3].ToString() : "")" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col col-sm-2">Foto:</label>
                <div class="col col-sm-10">
                    <input type="file" name="foto" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col col-sm-2">Senha:</label>
                <div class="col col-sm-10">
                    <input type="password" name="senha" class="form-control" @((dt != null) ? "disabled" : "") />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col col-sm-2">Descrição:</label>
                <div class="col col-sm-10">
                    <input type="text" name="desc" class="form-control" value="@((dt != null)?dt.Rows[0][5].ToString() : "")" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col col-sm-2">Dias:</label>
                <div class="col col-sm-10 btn-group">
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label id="domingoL" class="btn  @(diasPreenchidos[0] ? " btn-primary active" : " btn-default")"><input type="checkbox"  id="domingo" name="dias" value="1" @(diasPreenchidos[0] ? " checked" : "") >Domingo</label>
                        <label id="segundaL" class="btn  @(diasPreenchidos[1] ? " btn-primary active" : "btn-default")"><input type="checkbox" id="segunda" name="dias" value="2" @(diasPreenchidos[1] ? " checked" : "") >Segunda</label>
                        <label id="tercaL" class="btn  @(diasPreenchidos[2] ? " btn-primary active" : "btn-default")"><input type="checkbox" id="terca" name="dias" value="3" @(diasPreenchidos[2] ? " checked" : "") >Terça</label>
                        <label id="quartaL" class="btn @(diasPreenchidos[3] ? " btn-primary active" : "btn-default")"><input type="checkbox" id="quarta" name="dias" value="4" @(diasPreenchidos[3] ? " checked" : "") >Quarta</label>
                        <label id="quintaL" class="btn  @(diasPreenchidos[4] ? " btn-primary active" : "btn-default")"><input type="checkbox" id="quinta" name="dias" value="5" @(diasPreenchidos[4] ? " checked" : "") >Quinta</label>
                        <label id="sextaL" class="btn  @(diasPreenchidos[5] ? " btn-primary active" : "btn-default")"><input type="checkbox" id="sexta" name="dias" value="6" @(diasPreenchidos[5] ? " checked" : "") >Sexta</label>
                        <label id="sabadoL" class="btn  @(diasPreenchidos[6] ? " btn-primary active" : "btn-default")"><input type="checkbox" id="sabado" name="dias" value="7" @(diasPreenchidos[6] ? " checked" : "") >Sabado</label>
                    </div>

                </div>
            </div>
            @{
                string horario1 = "", horario2 = "";
                try
                {
                    if (!dt.Rows[0][8].ToString().Equals("A definir"))
                    {
                        horario1 = dt.Rows[0][8].ToString().Substring(0, 5);
                        horario2 = dt.Rows[0][8].ToString().Substring(10);
                    }
                }
                catch(Exception ex)
                {
                    Console.Write(ex);
                }
            }
            <div class="form-group">
                <label class="control-label col col-sm-2">Horario:</label>
                <div class="col col-sm-2">
                    <input type="time" name="hora1" class="form-control" value="@horario1"/>
                </div>
                <label class="control-label" style="float:left">até</label>
                <div class="col col-sm-2">
                    <input type="time" name="hora2" class="form-control" value="@horario2"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" name="envia" class="btn btn-info" value="Cadastrar" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#domingo").change(function () {
            if ($("#domingo").prop("checked")) {
                $("#domingoL").removeClass("btn-default");
                $("#domingoL").addClass("btn-primary");
            }
            else {
                $("#domingoL").removeClass("btn-primary");
                $("#domingoL").addClass("btn-default");
            }
        });
        $("#segunda").change(function () {
            if ($("#segunda").prop("checked")) {
                $("#segundaL").removeClass("btn-default");
                $("#segundaL").addClass("btn-primary");
            }
            else {
                $("#segundaL").removeClass("btn-primary");
                $("#segundaL").addClass("btn-default");
                $("#segundaL").addClass("btn-default");
            }
        });
        $("#terca").change(function () {
            if ($("#terca").prop("checked")) {
                $("#tercaL").removeClass("btn-default");
                $("#tercaL").addClass("btn-primary");
            }
            else {
                $("#tercaL").removeClass("btn-primary");
                $("#tercaL").addClass("btn-default");
            }
        });
        $("#quarta").change(function () {
            if ($("#quarta").prop("checked")) {
                $("#quartaL").removeClass("btn-default");
                $("#quartaL").addClass("btn-primary");
            }
            else {
                $("#quartaL").removeClass("btn-primary");
                $("#quartaL").addClass("btn-default");
            }
        });
        $("#quinta").change(function () {
            if ($("#quinta").prop("checked")) {
                $("#quintaL").removeClass("btn-default");
                $("#quintaL").addClass("btn-primary");
            }
            else {
                $("#quintaL").removeClass("btn-primary");
                $("#quintaL").addClass("btn-default");
            }
        });
        $("#sexta").change(function () {
            if ($("#sexta").prop("checked")) {
                $("#sextaL").removeClass("btn-default");
                $("#sextaL").addClass("btn-primary");
            }
            else {
                $("#sextaL").removeClass("btn-primary");
                $("#sextaL").addClass("btn-default");
            }
        });
        $("#sabado").change(function () {
            if ($("#sabado").prop("checked")) {
                $("#sabadoL").removeClass("btn-default");
                $("#sabadoL").addClass("btn-primary");
            }
            else {
                $("#sabadoL").removeClass("btn-primary");
                $("#sabadoL").addClass("btn-default");
            }
        });
    });
</script>