﻿
@{
    ViewBag.Title = "Consultores";
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="nav-side-menu" style="margin-top: 3%">
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="@Url.Action("Index", "Admin")">
                    <i class="fa fa-home fa-lg"></i> Painel do Administrador
                </a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Consultas <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li><a href="#">Agendadas</a></li>
                <li><a href="#">Efetuadas</a></li>
            </ul>
            <li>
                <a href="@Url.Action("Consultores", "Admin")">
                    <i class="fa fa-users fa-lg"></i> Consultores
                </a>
            </li>
            <li>
                <a href="@Url.Action("AddConsultor", "Admin")">
                    <i class="fa fa-users fa-lg"></i> Cadastrar Consultor
                </a>
            </li>
        </ul>
    </div>
</div>
<div style="margin-left: 24%; width:74%">
    <table id="consultores">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Status</th>
                <th>Dias fixos</th>
                <th>Horarios fixos</th>
                <th>Descrição</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <small><strong>@ViewData["Error"]</strong></small>
    <script type="text/javascript">
        $(document).ready(function () {
          $('#consultores').DataTable({
                "processing": true,
                "serverSide": true,
                "order": [],
                //"dom": '<"top">rt<"bottom"ip><"clear">',
                "ajax": {
                    "url": "@Url.Action("PegaDados", "Consultor")", //url Controller Consultor - PegaDados
                    "type": "GET",
                    "dataType": "json"
                },
                "columnDefs": [
                    {
                        "targets": [ 6, 7], //quais colunas não possuirão a ordenação - editar/excluir
                        "orderable": false
                    }
                ],
                "columns": [
                    { "nome":"nome"},
                    { "email": "email"},
                    { "status": "status"},
                    { "dias": "dias"},
                    { "horarios": "horarios"},
                    { "descricao": "descricao"},
                ], 
                "language": {
                    "zeroRecords": "Nada encontrado - desculpe",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponivel",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    },
                    "search": "Pesquisar:",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando..."
                },
                "lengthChange": false,
                "pageLength": 15
            });
        });
    </script>
</div>

