﻿
@{
    ViewBag.Title = "Admin";
}
@if (Session["admin"] == null)
{
    Response.Redirect("/Login/Index");
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="nav-side-menu" style="margin-top: 3%">
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="@Url.Action("Index", "Admin")">
                    <i class="fa fa-home fa-lg"></i> Painel do Administrador
                </a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Consultas <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li><a href="#">Agendadas</a></li>
                <li><a href="#">Efetuadas</a></li>
            </ul>
            <li>
                <a href="@Url.Action("Consultores", "Admin")">
                    <i class="fa fa-users fa-lg"></i> Consultores
                </a>
            </li>
            <li>
                <a href="@Url.Action("AddConsultor", "Admin")">
                    <i class="fa fa-users fa-lg"></i> Cadastrar Consultor
                </a>
            </li>
        </ul>
    </div>
</div>

