﻿
@{
    ViewBag.Title = "Consultor";
}
@*@if (Session["consultor"] == null)
{
    Response.Redirect("/Login/Index");
}*@
<!------ Include the above in your HEAD tag ---------->
<script type="text/javascript">
        var tempo = new Number();
        tempo = 0; // Tempo em segundos
    function pegarMensagem() {
            $.ajax({
                    url: "@Url.Action("atendimento", "Consultor")",
                    dataType: "json",
                    method: "post",
                success: function (e) {
                    $.each(e, function (i, obj) {
                        if (obj) {
                            window.open("@Url.Action("Conversar", "Chat", new RouteValueDictionary(new { id = int.Parse(Session["consultor"].ToString()) }))", "_self");
                        }
                    });
                        //window.open("/", "_self");
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
    function startCountdown() {
        if (tempo < 1) {
            pegarMensagem();
            setTimeout('startCountdown()', 1000); // Define que a função será executada novamente em 1000ms = 1 segundo
            tempo++; // diminui o tempo
            //pegarMensagem();
        }
            
    }
    startCountdown();
</script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="nav-side-menu" style="margin-top: 3%">
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-home fa-lg"></i> Painel do Consultor
                </a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Consultas <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li><a href="#">Agendadas</a></li>
                <li><a href="#">Efetuadas</a></li>
            </ul>
            <li>
                <a href="#">
                    <i class="fa fa-users fa-lg"></i> Status: @ViewBag.Status
                </a>
            </li>
        </ul>
    </div>
</div>

