﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Atendimento Esoterico</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/SideBar.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Atendimento Esoterico", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @if (Session["consultor"] != null)
                    {
                        <li>@Html.ActionLink("Consultores", "Index", "Consultor")</li>
                    }
                    @if (Session["admin"] != null)
                    {
                        <li>@Html.ActionLink("Administrar", "Index", "Admin")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["admin"] == null && Session["consultor"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Index", "Login")</li><!-- data-toggle="modal" data-target="#myModal"-->
                    }
                    else
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Login")</li><!-- data-toggle="modal" data-target="#myModal"-->
                    }
                </ul>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        @*<footer>
                <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
            </footer>*@
    </div>


</body>
</html>
